<!DOCTYPE HTML>
<html lang="fr" ng-app="myForm">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>exo3</title>
</head>
<body>
  <body ng-controller="formCtrl"> <!--on lance le controleur dans le body-->
    <form id="formContact" name="formContact">
      <fieldset>
        <legend>Coordonnées</legend> <!--le nom donné au formulaire-->
        <div>
          <label for="name">Nom : </label><input type="text" name="name" id="name" ng-model="name" ng-pattern="/^[a-zA-ZÂ-ÿ- ']+$/" required />
          <div ng-messages="formContact.name.$error" ng-if="formContact.name.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
            <p class="hasError" ng-message="required">Le champ est obligatoire</p> <!--ce message est affiché uniquement si le champ n'a pas été rempli (car on a utilisé required comme attribut dans l'input, il est donc obligatoire)-->
            <p class="hasError" ng-message="pattern">Le nom saisi est incorrect</p> <!-- ce message est affiché uniquement si le champ ne correspond pas au pattern qui a été défini dans "ng-pattern" de l'input-->
          </div>
        </div>
        <div>
          <label for="email">E-mail : </label><input type="text" name="email" id="email" ng-model="email" ng-pattern="/^[a-z0-9.-_]+@[a-z0-9.-]+\.([a-z]){2,6}$/"  required />
          <div ng-messages="formContact.email.$error" ng-if="formContact.email.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
            <p class="hasError" ng-message="required">Le champ est obligatoire</p> <!--ce message est affiché uniquement si le champ n'a pas été rempli (car on a utilisé required comme attribut dans l'input, il est donc obligatoire)-->
            <p class="hasError" ng-message="pattern">L'adresse email saisi est incorrect</p> <!-- ce message est affiché uniquement si le champ ne correspond pas au pattern qui a été défini dans "ng-pattern" de l'input-->
          </div>
        </div>
        <div>
          <label for="subject">Sujet : </label><input type="text" name="subject" id="subject" ng-model="subject" required />
          <div ng-messages="formContact.subject.$error" ng-if="formContact.subject.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
            <p class="hasError" ng-message="required">Le champ est obligatoire</p>
          </div>
        </div>
        <div>
          <label for="textsubject">Texte : </label><textarea name="textsubject" id="textsubject" ng-model="textsubject" required ></textarea>
          <div ng-messages="formContact.textsubject.$error" ng-if="formContact.textsubject.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
            <p class="hasError" ng-message="required">Le champ est obligatoire</p>
          </div>
        </div>
        <input type="submit" name="sendForm" ng-click="clickedButton()" ng-disabled="formContact.$invalid"/> <!--désactive le bouton lorsque le formulaire est invalide (invalid renvoie true si ce n'est pas valide, donc ng-disabled est activé)-->
      </fieldset> <!-- le "ng-click" du boutton au dessus permet de lancer la fonction "clickedButton()" (si c'est une fonction qu'on veut lancer, ne pas oublier les parenthèes à la fin pour bien indiquer que s'en est une)-->
    </form>
    <div>
      <ul ng-repeat="information in formsArray"> <!--permet d'aller chercher une des lignes du tableau-->
        <li>{{information.subject}}</li> <!--va chercher la colonne "subject", dans chacune des lignes du tableau (une ligne = information)-->
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script> <!--ici on charge angularjs, les modules complémentaires (ci-dessous) sont disponibles sur le site d'angularjs, en cliquant sur download et ensuite Browse additional modules-->
    <script src="https://code.angularjs.org/1.7.5/angular-route.js"></script> <!-- ici on charge le module "route" d'angularjs, car il n'est pas dans l'angularjs de base-->
    <script src="https://code.angularjs.org/1.7.5/angular-messages.min.js"></script> <!--ici on charge le module "messages" d'angularjs (pour pouvoir utiliser ng-messages) car il n'est pas dans l'angularjs de base-->

    <!-- <form ng-controller="validateCtrl" name="myForm" novalidate>
    <p>Nom:<br>
    <input type="text" name="name" ng-model="name" required>
    <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
    <span ng-show="myForm.name.$error.required || myForm.name.$error.pristine">Votre nom est requis.</span>
  </span>
</p>
<p>Email:<br>
<input type="email" name="email" ng-model="email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Votre e-mail est requis.</span>
<span ng-show="myForm.email.$error.email">Adresse e-mail invalide.</span>
</span>
</p>
<p>Sujet:<br>
<input type="text" name="subject" ng-model="subject" required>
<span style="color:red" ng-show="myForm.subject.$dirty && myForm.subject.$invalid">
<span ng-show="myForm.subject.$error.required">Le titre du sujet est requis.</span>
</span>
</p>
<p>Texte:<br>
<textarea type="text" rows="4" cols="50" name="subjectext" ng-model="subjectext" form="usrform" required></textarea>
<span style="color:red" ng-show="myForm.subjectext.$dirty && myForm.subjectext.$invalid">
<span ng-show="myForm.subjectext.$error.required">L'énoncé du sujet est requis.</span>
</span>
</p>
<p>
<input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
myForm.email.$dirty && myForm.email.$invalid ||
myForm.subject.$dirty && myForm.subject.$invalid ||
myForm.subjectext.$dirty && myForm.subjectext.$invalid"
>
</p>-->

<script src="script.js"></script>
</body>
</html>
