<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>exo2</title>
</head>
<body>
  <div ng-controller="myCtrl">
    <!-- <input type="text" ng-model="greeting" aria-label="greeting" /> -->
    <!-- <button ng-click="doGreeting(greeting)">ALERT</button> -->
    <button ng-click="appButtonAlert()" name="button" id="buttonAlert">Boutton</button>
  </div>
  <script src="script.js"></script>
</body>
</html>
