<html ng-app>
<head>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>exo5</title>
</head>
<body>
  <div>
    <button ng-click="show = true">Dies Irae</button>
    <button ng-click="show = false">Nope</button>
    <p ng-show="show">Le Dies iræ (« Jour de colère » en latin), aussi appelé Prose des Morts, est une séquence (ou prose) médiévale chantée, adoptant la forme d'une hymne liturgique. L'inspiration du poème est partiellement apocalyptique. Les prémices de cette séquence sont apparues dès le début du XIe siècle, la version actuelle datant du XIIIe siècle. C'est à cette époque et sous cet aspect qu'elle a été intégrée au corpus grégorien. Le Dies iræ a ensuite été chanté pendant des siècles dans la messe de Requiem (elle peut toujours l'être, mais n'est pas obligatoire, sauf lors de l'utilisation de la forme extraordinaire du rite romain). </p>
  </div>
  <script src="script.js"></script>
</body>
</html>
