<html ng-app>
<head>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>exo6</title>
</head>
<body>
  <div>
    <button ng-click="paragraph1 = true ; paragraph2 = false">Dies Irae</button>
    <button ng-click="paragraph2 = true ; paragraph1 = false">Méléagant</button>
    <p ng-show="paragraph1">Le Dies iræ (« Jour de colère » en latin), aussi appelé Prose des Morts, est une séquence (ou prose) médiévale chantée, adoptant la forme d'une hymne liturgique. L'inspiration du poème est partiellement apocalyptique. Les prémices de cette séquence sont apparues dès le début du XIe siècle, la version actuelle datant du XIIIe siècle. C'est à cette époque et sous cet aspect qu'elle a été intégrée au corpus grégorien. Le Dies iræ a ensuite été chanté pendant des siècles dans la messe de Requiem (elle peut toujours l'être, mais n'est pas obligatoire, sauf lors de l'utilisation de la forme extraordinaire du rite romain). </p>
  </p>
    <p ng-show="paragraph2">Méléagant (parfois Mahoeloas, Maleagant, Meliagant, Meligaunt, Meliagaunt, Meliaganz, Meliagrance, Mellyagraunce, Mellegrans ou d'autres variantes) est un personnage de la légende arthurienne. Son nom provient certainement d'une divinité celte du nom de « Melwas », seigneur du Pays de l'Été. Méléagant revêt différentes fonctions selon les auteurs, pouvant être un roi, un chevalier de la Table ronde chez Thomas Malory, ou un fils de roi, chevalier félon venu d'un pays étranger d'après le roman de Chrétien de Troyes, Lancelot ou le Chevalier de la charrette. Dans tous les cas, il est l'instigateur de l'enlèvement de la reine Guenièvre, ou l'enlève lui-même, avant d'être vaincu par le chevalier Lancelot.</p>
  </div>
  <script src="script.js"></script>
</body>
</html>
